<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
   <menu>
       <add id="Magento_AdminLiveChat::menu"
           title="Live Chat" translate="title" module="Magento_AdminLiveChat"
           sortOrder="10"
           resource="Magento_AdminLiveChat::menu"
           />
       <!-- START: new node -->  
       <add id="Magento_AdminLiveChat::submenu_mymodule"
           title="Chat List" translate="title" module="Magento_AdminLiveChat"
           sortOrder="20" parent="Magento_AdminLiveChat::menu"
           action="adminlivechat/grid/index"
           resource="Magento_AdminLiveChat::submenu_mymodule"
           />
       <!-- END:   new node -->
   </menu>
</config>